*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

main{
    display: flex;
    justify-content: center;
}

div.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 50px;
    font-family: Pixelify Sans;
    font-size: 45px;
    color: white;
    border-radius: 10px;
    background-color: rgb(77, 51, 155);
}
 
div.dificuldades{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

p.jogar:hover{
    font-size: 50px;
    transition: .2s;
    cursor: pointer;
}

canvas{
    border: 1px solid rgb(194, 194, 194);
}